{
	auto_https off
}

cookbook.bunsenbrenner.org {
	tls /data/acme-certs/fullchain.pem /data/acme-certs/privkey.pem
	reverse_proxy /cookbook/build cookbook-crew-bridge:8789
	handle_path /agent-cards/* {
		root * /data/agent-cards
		file_server
	}
	root * /srv
	file_server
	encode gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
	}
}
